@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #28081d;
    z-index: -1;
}


/*----------------  Aniversário nome rainbow ------------ */

.rainbow-text {
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 1400% 1400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 10s ease infinite;
  transition: font-family 0.8s ease-in-out;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* -------------- Titulo principal --------------------- */

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px #dc3545, 0 0 10px #dc3545;
  }
  50% {
    text-shadow: 0 0 20px #dc3545, 0 0 30px #dc3545, 0 0 40px #dc3545, 0 0 50px #dc3545;
  }
}

#name {
  color: #ffffff;
  animation: glow 2s infinite;
  transition: 0.2s;
}

@keyframes glowdica{
  0%, 100% {
    text-shadow: 0 0 5px #1550f3, 0 0 10px #1550f3;
  }
  50% {
    text-shadow: 0 0 20px #1550f3, 0 0 30px #1550f3, 0 0 40px #1550f3, 0 0 50px #1550f3;
  }
}

#frase-dica{
    color: #1550f3;
    animation: glowdica 2s infinite;
    transition: 0.2s;
}

#frase-dica:hover {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 10px #4472f1 , 0 0 20px #4472f1, 0 0 30px #4472f1, 0 0 40px #4472f1;
}

h1{
   font-family: "Oswald", sans-serif;
}

.text-lizza{
    color: #dc3545;
    font-family: "Oswald", sans-serif;
}

.text-surpresa{
    color: #FFBF00;
    font-family: "Oswald", sans-serif;
}

/*& ----------------- CORAÇÃO ----------------- */

/* Animação de batimento */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.pulse {
  width: 55px;
  height: 55px;
  animation: pulse 1.2s infinite;
  transition: 0.3s;
}
.pulse:hover {
  animation: none;
  transform: scale(1.2);
  background-color: #c4c4c4 !important;
  color: #dc3545 !important;
}

/* ------------- Coração animação ---------------- */

 #heart-transition {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: #dc3545;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 9999;
    transition: transform 1s ease-in-out;
    pointer-events: none;
  }

  #heart-transition.active {
    transform: translate(-50%, -50%) scale(50);
  }

  .pulse {
    animation: pulse-animation 2s infinite;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
    }
    70% {
      box-shadow: 0 0 0 20px rgba(220, 53, 69, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
    }
  }