@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
   font-family: "Montserrat", sans-serif;
}

body {
  background: url('../assets/walpaper/botanical-3840x2160-15587.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

.background-overlay {
  background-color: rgba(0, 0, 0, 0.63);
  position: absolute;
  inset: 0;
  z-index: 0;
}

.login-container {
  z-index: 10;
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
  transform: translateY(40px);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ------------ foto de perfil -------------- */

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.05);
}

/* ------------------ mensagem ------------------- */

.birthday-msg {
  font-size: 1.1rem;
  font-weight: 300 !important;
  color: #ffffff;
}

/* -------------------- secreto ------------------ */
 #secreto {
      cursor: pointer;
      color: rgb(194, 224, 25);
      transition: color 0.3s;
    }

    #secreto:hover {
      color: rgb(75, 200, 177)
    }

.login-container h4{
  font-weight: 800 !important;
}

/* ------------------ input ------------------ */

input.form-control {
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;
  backdrop-filter: blur(4px);
}

input.form-control::placeholder {
  color: #ccc;
}

input.form-control:focus {
  background-color: rgba(255, 255, 255, 0.25) !;
  outline: none;
  box-shadow: 0 0 10px #000000;
}

.footer-icons i,
.footer-icons span {
  transition: all 0.3s ease;
  cursor: pointer;
}

.hover-icon:hover {
  color: #0dcaf0;
}

@media (max-width: 768px) {
  .birthday-msg {
    font-size: 1rem;
  }

  input.form-control {
    width: 80% !important;
  }

  .profile-img {
    width: 100px;
    height: 100px;
  }
}

/* --------------------- wifi ----------------- */

.wifi-popup {
  display: none;
  bottom: 130%; /* sobe acima do ícone */
  right: 0;
  min-width: 190px;
  z-index: 100;
  border: 1px solid #666;
  backdrop-filter: blur(5px);
  background-color: rgba(33, 37, 41, 0.9); /* mesmo estilo do Bootstrap dark */
}

.wifi-option {
  display: block;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s;
  border-radius: 6px;
}

.wifi-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.wifi-icon-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  border-radius: 4px;
}

/* ---------------------- perfils -------------------------- */

.perfil-popup {
  display: none;
  bottom: 130%;
  left: 0;
  min-width: 160px;
  z-index: 100;
  border: 1px solid #666;
  backdrop-filter: blur(5px);
  background-color: rgba(33, 37, 41, 0.9);
}

.perfil-option {
  display: block;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s;
  border-radius: 6px;
}

.perfil-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.perfil-icon-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  border-radius: 4px;
}

/* ------------------ modal batman ---------------- */

/* Remove fundo, sombra e padding padrão do modal */
.modal-no-bg {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Remove fundo escurecido do backdrop */
.modal-backdrop.show {
  opacity: 0 !important;
}
